---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import { Image } from "astro:assets";
import img1 from "../assets/images/IMG-032.jpg";

import cloud from "../assets/images/cartoon_cloud.png";

import Carousel from "../components/Carousel.astro";
import TrekkingSection from "@/components/home/TrekkingSection.astro";
import { ItenaryCarousel } from "@/components/home/ItenaryCarousel";

---

<Layout title="Welcome to Sababa Adventures.">
  <main>
    <Header />

    <div class="max-w-6xl 2xl:max-w-7xl mx-auto my-36">
      <section class="text-center max-w-4xl mx-auto px-4">
        <p class="sub-title">Who We Are​.</p>
        <h3 class="section-title">
          Your Gateway to <br />
          Authentic African Adventures​
        </h3>
        <p>
          Sababa Adventures is a proudly 100% locally owned company,
          specializing in tailor-made safaris across Tanzania. With an in-depth
          knowledge of the regions and the safari industry, we offer a wide
          range of accommodation options, from adventurous camps to luxurious
          lodges. Our expertise ensures each journey is uniquely crafted,
          providing unforgettable experiences that showcase the true spirit of
          Tanzania.
        </p>
      </section>
      <div class="grid grid-cols-2 md:grid-cols-5 mx-auto mt-20 gap-4 px-4">
        <div class={`w-full h-64 lg:h-80 rounded-xl overflow-hidden `}>
          <Image src={img1} alt="" class="w-full h-full object-cover" />
        </div>
        <div
          class={`w-full h-64 lg:h-80 rounded-xl overflow-hidden mt-16 md:mt-16`}
        >
          <Image src={img1} alt="" class="w-full h-full object-cover" />
        </div>
        <div
          class={`w-full h-64 lg:h-80 rounded-xl overflow-hidden max-md:-mt-16`}
        >
          <Image src={img1} alt="" class="w-full h-full object-cover" />
        </div>
        <div class={`w-full h-64 lg:h-80 rounded-xl overflow-hidden  md:mt-16`}>
          <Image src={img1} alt="" class="w-full h-full object-cover" />
        </div>
        <div
          class={`w-full h-64 lg:h-80 rounded-xl overflow-hidden hidden md:block`}
        >
          <Image src={img1} alt="" class="w-full h-full object-cover" />
        </div>
      </div>

      <br /><br /><br />

      <section class="my-36 mx-auto px-4">
        <div class="max-w-4xl mx-auto mb-8">
          <p class="sub-title">What have to Offer</p>
          <h3 class="section-title text-center">Some of Our Many Offers</h3>
          <p class="text-center">
            Sababa Adventures is a proudly 100% locally owned company,
            specializing in tailor-made safaris across Tanzania.
          </p>
        </div>

        <ItenaryCarousel client:load/>
        <br><br>
      </section>
    </div>

    <TrekkingSection />
    
    <section class="py-40"></section>
  </main>
</Layout>
